<% form_tag login_url do -%>

  <p>
    <label for="openid_identifier">OpenID URL</label>
    <%= text_field_tag :openid_identifier, params[:openid_identifier] %>
  </p>

  <p class="button">
    <%= submit_tag 'Log in' %>
  </p>

<% end -%>
