* {
  margin: 0;
  padding: 0; }

html, body {
  background: #fff; }

body {
  padding: 1em;
  font-family: Verdana, Arial, sans-serif; }

#container-wrapper {
  width: 50em;
  max-width: 100%;
  margin: auto;
  background: #f4f4f4; }

#container {
  position: relative;
  top: -0.2em;
  left: -0.2em;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  overflow: hidden; }

#header {
  font-size: 150%;
  text-align: center; }
  #header a {
    display: block;
    padding: 0.5em;
    background: #f0f0f0;
    border-bottom: 1px solid #ececec;
    color: #666;
    text-decoration: none; }
    #header a:hover, #header a:focus {
      text-decoration: underline; }

#messages .error, #messages .notice {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em 0; }
#messages .error {
  background: #f99;
  color: #300; }
#messages .notice {
  background: #9f9;
  color: #030; }

#content-wrapper {
  width: 70%;
  float: left; }

#content {
  padding: 0.5em; }
  #content h2, #content h3, #content h4, #content h5 {
    margin: 1em 0 0.5em 0; }
  #content h2 {
    margin-top: 0;
    font-size: 160%; }
  #content h3 {
    font-size: 130%; }
  #content h4 {
    font-size: 115%; }
  #content p {
    margin: 1em 0; }
  #content form p {
    position: relative; }
    #content form p .openid-providers {
      display: none;
      background: #fff;
      border: 1px solid #eee;
      overflow: hidden;
      list-style-type: none; }
      #content form p .openid-providers li {
        float: left; }
        #content form p .openid-providers li a {
          display: block;
          padding: 0.2em 0.5em;
          color: #666;
          text-decoration: none; }
          #content form p .openid-providers li a:hover, #content form p .openid-providers li a:focus {
            background: #f0f0f0; }
        #content form p .openid-providers li.selected a {
          color: #f00; }
      #content form p .openid-providers.active {
        display: block; }

#sidebar-wrapper {
  width: 25%;
  float: right; }

#sidebar {
  padding: 0.5em;
  font-size: 90%; }
  #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5 {
    margin: 1em 0 0.5em 0;
    padding: 0.25em;
    background: #f0f0f0; }
  #sidebar h2 {
    margin-top: 0;
    font-size: 130%; }
  #sidebar h3 {
    font-size: 120%; }
  #sidebar h4 {
    font-size: 110%; }
  #sidebar p {
    margin: 1em 0;
    padding: 0.5em; }
  #sidebar form.button-to {
    margin: 1em 0;
    padding: 0.5em; }
